/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

* {
	box-sizing: border-box;
}

/* body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
} */

h1 {
	text-align: center;
}

.text {
    color: black;

    font-family: Al Tarikh;

    font-weight: bold;
}

#app {
	padding: 0 20px;
	width: 100%;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;

    /* background-image: url(./bg.jpg); */
}

.timeline-container::after {
    /* background-color: rgb(212, 24, 80); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #378170);
	/* background-size: 400% 400%; */
	animation: gradient 15s ease infinite;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(even) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(even) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(even) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 300px;
}

.timeline-item-content a {
	color: #333;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content .anchor::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #222;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(even) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1023px) {
    .timeline-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(even) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.gracenote {
    width: auto;
    height: 60px;
}


.gracenote:hover {

    transform: scale(1.5);
    cursor: pointer;
}


@media only screen and (max-width: 699px) {
    .timeline-item:nth-child(even) {
        align-self: flex-end;
        justify-content: flex-start;
        padding-left: 30px;
        padding-right: 0;
    }
    .timeline-item:nth-child(even) .timeline-item-content .circle {
        right: auto;
        left: -40px;
    }
    .timeline-item:nth-child(even) .timeline-item-content {
        text-align: left;
        align-items: flex-start;
    }
    
    .timeline-item:nth-child(even) .timeline-item-content::after {
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .gracenote {
        width: auto;
        height: 30px;
    }
    .timeline-item:nth-child(even) .timeline-item-content .tag {
        left: auto;
        right: 5px;
    }
    .timeline-container::after {
        /* background-color: rgb(212, 24, 80); */
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #378170);
        /* background-size: 400% 400%; */
        animation: gradient 15s ease infinite;
        content: '';
        position: absolute;
        left: calc(0.5% - 2px);
        width: 4px;
        height: 100%;
    }

    .timeline-item {
        width: 99.5%;
    }


.timeline-item:nth-child() .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(even) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #222;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    /* right: -40px; */
    right: auto;
    left: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}
.timeline-item:nth-child() .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}



.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}
.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}
.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
.gracenote {
    width: auto;
    height: 30px;
}
.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}
.timeline-container::after {
    /* background-color: rgb(212, 24, 80); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #378170);
    /* background-size: 400% 400%; */
    animation: gradient 15s ease infinite;
    content: '';
    position: absolute;
    left: calc(0.5% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    width: 99.5%;
}


.timeline-item:nth-child() .timeline-item-content::after {
right: auto;
left: -7.5px;
box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
right: auto;
left: -40px;
}

.timeline-item-content .circle {
background-color: #fff;
border: 3px solid #222;
border-radius: 50%;
position: absolute;
top: calc(50% - 10px);
/* right: -40px; */
right: auto;
left: -40px;
width: 20px;
height: 20px;
z-index: 100;
}
.timeline-item:nth-child() .timeline-item-content {
text-align: left;
align-items: flex-start;
}
}

.title1{

    padding-top: 10px;
}