#root {
  width: 100%;
}
section h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 699px) {
  section h1 {
    font-size: 2.5rem;
  }
  section h2 {
    font-size: 1.4rem;
  }
}

.home-section {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  /* padding: 20px;
  padding-top: 90px; */
  /* height: 111vh; */
  justify-content: center;
  align-items: center;
  padding-bottom: 335px;
  color: white;
}
.about-section {
  color: white;
  display: flex;
  /* padding-top: 335px; */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* height: 100vh; */
  min-height: 100vh;
  scroll-snap-align: center;
}
.timeline-section {
  padding-top: 70px;
  /* height: 150vh; */
  justify-content: center;
}
.skills-section {
  /* height: 150vh; */
  padding-top: 70px;
  justify-content: center;
}
.project-section1 {
  width: 95%;
    margin: 0 auto;
    padding-top: 250px;
    max-width: 1280px;
    min-height: 100vh;
}
.project-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }


  .project1, .project2{
      width: 400px;
      height: 400px;
      background: white;
      border-radius: 12px;
      color: black;
      padding: 0 10px;
  }
  .project1-header, .project2-header {
      padding: 25px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(0,0,0,0.16);
    align-items: center;
  }
  .project-image {
      width: 90px;
      height: auto;
  }
  .project-image1 {
    width: 45px;
    height: auto;
}

  .project1-list {
    text-align: left;
    padding: 20px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 699px) {
    .project-section1 {
        padding-top: 60px;
    }
    .project-section {
      flex-direction: column;
    }
    .project1, .project2{
      width: 320px;
      height: auto;
      background: white;
      border-radius: 12px;
      color: black;
  }
  }

.countries-section {
  /* height: 140vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.countries-section h2 {
    font-size: 27px;
    color: white;
    padding: 10px 15px 0 15px;
    position: relative;
    top: 65px;
}

@media only screen and (max-width: 699px) {
  .timeline-section {
    /* height: 223vh; */
  }
  .skills-section {
    /* height: 215vh; */
  }
}

@media only screen and (min-width: 700px) {
    .home-section {
        padding-top: 200px;
    }
    
  .typewriter h2 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end) infinite,
      blink-caret 0.5s step-end infinite;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.skill-container {
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;
}

.icon-container {
  margin: 0.5rem 0 1rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.icon-cont {
  padding: 5px;
}

.icon {
    width: auto;
    height: 40px;
  }

body {
  display: flex;
  width: 100%;
  font-family: "Louis George Cafe", sans-serif;
  text-align: center;
}

.dark-mode {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* background: linear-gradient(-45deg, rgb(80, 105, 47), rgb(195, 141, 81)) scroll; */
  background-size: 400% 400%;
  /* color: black; */
  animation: gradient 10s ease infinite;
  /* color: white; */
  /* color: #505050;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    background: #f6f7fa;
     */
}

p {
  display: flex;

  justify-content: center;
  align-items: center;
}
.toggle {
  align-self: center;

  position: fixed;
  top: 1.6%;
  right: 0;
  padding-right: 20px;
  z-index: 2;
}

.toggle:hover {
  cursor: pointer;
}

p {
  font-family: fantasy;
}

.intro {
  padding-right: 25px;
}

.person-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media only screen and (max-width: 699px) {
  .person-image {
    width: auto;
    height: 250px;
  }
}

.frontend {
  /* color: rgb(212, 24, 80); */
  color: white;
}

.gif {
  /* width: 300px; */
  padding-top: 20px;
}

body {
  background: rgb(21, 32, 43);

  color: rgb(212, 24, 80);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

HTML CSS JSResult EDIT ON html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ul > li:first-child {
  position: absolute;
  left: -10px;
  top: -13px;
} */

li img:first-child {
    width: 45px;
}

.footer-main {
  color: white;
  font-size: 18px;
  padding-top: 30px;
  background-color: #030303;
}

@media only screen and (max-width: 699px) {
  .footer-main {
    padding: 30px 30px 0 30px;
  }
}

.copyrights {
  text-align: center;
  padding: 45px;
  color: #767676;
  font-size: 19px;
  background-color: #030303;
}

.copyrights-name {
  color: #6c5cff;
}

.go-to-top {
  width: auto;
  height: 50px;
  position: fixed;
  bottom: 0;
  display: block;
  right: 20px;
}

@media only screen and (min-width: 600px) {
  .go-to-top {
    /* right: 70px; */

    width: auto;
    height: 50px;
    position: fixed;
    bottom: 0;
  }
}

td:first-child {
  display: flex;
  /* align-content: center; */
  justify-content: flex-start;
  padding-left: 35px;
  align-items: center;
  text-align: left;
}

.flag {
  width: 40px;
  height: 40px;
}

thead {
  background: #e2e5e9;
  line-height: 3;
}
table {
  padding: 0 35px;
  color: black;
}

th:first-child {
  text-align: left;
  padding-left: 35px;
}

td > span {
  padding-left: 20px;
  color: black;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #e2e5e9;
  line-height: 3;
}

.countries-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.countries:hover {
  cursor: pointer;
  background: #e54783;
  color: white;
}

.countries {
  color: white;
  display: flex;
  /* align-content: center; */
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  text-align: left;
  flex: 0 0 19%; /* explanation below */
  margin: 5px;
  width: 180px;
  border: 2px solid grey;
  border-radius: 10px;
}

.nl {
  /* background: aliceblue; */
}
.country-name {
  padding-left: 10px;
  font-weight: bold;
}
.country-name:hover {
  color: white;
}

.india {
  font-weight: bold;
  /* background: #e2e5e9; */
  /* color:  rgb(212, 24, 80); */
}
tr:last-child {
  background: #23a6d5;
}

.location {
  position: relative;
  top: 0%;
  left: 32%;
  width: 80px;
  height: 80px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.about-content {
  font-size: 21px;
  line-height: 1.7;   
   color: #e2e5e9db;
  /* letter-spacing: -.2px; */
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.about-header {
  /* text-align: left; */
  font-size: 48px;
  padding-left: 30px;
  color: white;
  padding-bottom: 20px;
}

.timeline-header {
  text-align: center;
  font-size: 27px;
  color: white;
}

.world {
  width: 100%;
  margin: 1px auto;
  padding-top: 83px;
}

@media only screen and (max-width: 699px) {
  .about-header {
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 0;
    padding-bottom: 10px;
  }
  .timeline-header {
    text-align: center;
    font-size: 27px;
    color: white;
  }
  .about-content {
    font-size: 21px;
    line-height: 1.7;

    /* font-family: fantasy; */
    /* letter-spacing: -.2px; */
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-section {
    /* height: 210vh; */
    padding-top: 60px;
  }
  .world {
    width: 90%;
    margin: 1px auto;
    padding-top: 0;
  }
}

.about-desc {
  font-weight: bold;
  font-style: italic;
  color: white;
}



/* .add {

  color: #ee7752;
} */